@import "tailwindcss" theme(static);

/* Base */
@import "../sass/base/_variables.scss";
@import "../sass/base/_fonts.scss";
@import "../sass/base/_base.scss";
@import "../sass/base/_type.scss";

/* Components */
@import "../sass/components/_header.scss";
@import "../sass/components/_age_check.scss";

/* Theme */
@theme {
  /* Reset all custom properties to initial values. Keep as lean as possible */
  --color-*: initial;
  --text-*: initial;
  --color-*: initial;
  --font-*: initial;
  --tracking-*: initial;
  --leading-*: initial;
  --radius-*: initial;
  --shadow-*: initial;
  --container-*: initial;
  --font-weight-*: initial;
  --inset-shadow-*: initial;
  --drop-shadow-*: initial;
  --perspective-*: initial;
  --blur-*: initial;
  --text-shadow-*: initial;

  /* Custom properties */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 86rem;

  --color-white: #ffffff;
  --color-black: #1d1d1b;
  --color-red: #e20019;

  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 26px;
  --text-lg: 34px;
  --text-xl: 52px;

  --radius-lg: 32px;

  --text-sm--line-height: 20px;
  --text-base--line-height: 16px;
  --text-md--line-height: 24px;
  --text-lg--line-height: 30px;
  --text-xl--line-height: 42px;

  --shadow-sm: 0 0 12px rgba(0, 0, 0, 0.07);

  --radius: 2rem;
  --radius-sm: 0.5rem;
}
